/* ==========================================
   RESPONSIVE DESIGN
   TECHNO PROJECT HUB
========================================== */

/* Tablets */
@media (max-width:992px){

    .navbar{
        flex-direction:column;
        padding:20px;
    }

    .navbar ul{
        margin-top:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .navbar ul li{
        margin:10px;
    }

    .hero h1{
        font-size:45px;
    }

    .hero h2{
        font-size:28px;
    }

}

/* Mobile Phones */
@media (max-width:768px){

    .hero{
        height:auto;
        padding:100px 20px;
    }

    .hero h1{
        font-size:36px;
    }

    .hero h2{
        font-size:24px;
    }

    .hero p{
        font-size:16px;
    }

    .btn,
    .btn2{
        display:block;
        width:220px;
        margin:20px auto;
        text-align:center;
    }

    .about{
        padding:60px 20px;
    }

    .projects{
        padding:60px 20px;
    }

    .projects h2,
    .about h2{
        font-size:32px;
    }

}

/* Small Phones */
@media (max-width:480px){

    .logo{
        font-size:22px;
        text-align:center;
    }

    .hero h1{
        font-size:30px;
    }

    .hero h2{
        font-size:20px;
    }

    .hero p{
        font-size:15px;
    }

    .card img{
        height:180px;
    }

}
